
  .logoAlign{
     margin-left:1030px;
  }
 
.userAlign{
   width:54px;
   height: 52px;
   font-size: 47px;
   margin-left:1030px;
}
.userAlign1{
   width:54px;
   height: 52px;
   font-size: 47px;
  
}
   